<h1>Title: <%= @album.title %></h1>
<h2>Transition time: <%= @album.transition_time  %></h2>
<h2>Category: <%= @album.category  %></h2>

  <% for source in @sources %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= source.url %>
            <div class="hidden_result">
              <% client = Tumblr::Client.new %>
              <% result = client.posts("#{source.url}", :type => "photo", :limit => 3) %>
              <%= result.count %>
            </div>
        </h4>
      
      </div>
    </div>
  <% end %>

  <% if can? :edit, @album %>
    <%= link_to "Edit", edit_album_path(@album), class: 'btn ' %>
  <% end %>

  <div class="js-swiper_viewer"> 
     <%= link_to "Preview", class: 'btn ' %>
  </div> 

  <div class="modal_viewer"> 
    <button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>
  </div>

      <div id='mySwipe' style='max-width:500px;margin:0 auto' class='swipe'>
              <div class='swipe-wrap'>
                  <div><img src="http://31.media.tumblr.com/f1a4d8c2a6651f166779eddd29e88d14/tumblr_mr46i5LI081rwe56eo1_500.jpg"></div>
                  <div><img src="http://25.media.tumblr.com/tumblr_m03646V4Ma1qcwmkyo1_500.jpg"></div>
                  <div><img src="http://24.media.tumblr.com/4c9e2034c44c9805811cfab40119da5f/tumblr_mwospdyW3j1qgwe7to1_1280.jpg"></div>
              </div>
         
          <div style='text-align:center;padding-top:20px;'>
            <button onclick='mySwipe.prev()'>prev</button> 
            <button onclick='mySwipe.next()'>next</button>
          </div>
      </div>
      
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div id="myCarousel" class="carousel slide">
             
              <!-- Carousel items -->
              <div class="carousel-inner">
                  <div class="active item"><img src="http://31.media.tumblr.com/f1a4d8c2a6651f166779eddd29e88d14/tumblr_mr46i5LI081rwe56eo1_500.jpg"></div>
                  <div class="item"><img src="http://25.media.tumblr.com/tumblr_m03646V4Ma1qcwmkyo1_500.jpg"></div>
                  <div class="item"><img src="http://24.media.tumblr.com/4c9e2034c44c9805811cfab40119da5f/tumblr_mwospdyW3j1qgwe7to1_1280.jpg"></div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>  
          


      </div>
  
