<h1>Title: <%= @album.title %></h1>
<h2>Transition time: <%= @album.transition_time  %></h2>
<h2>Category: <%= @album.category  %></h2>

  <% for source in @sources %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= source.url %>
            <div class="hidden_result">
              <% client = Tumblr::Client.new %>
              <% result = client.posts("#{source.url}", :type => "photo", :limit => 3) %>
              <%= result.count %>
            </div>
        </h4>
      
      </div>
    </div>
  <% end %>

  <% if can? :edit, @album %>
    <%= link_to "Edit", edit_album_path(@album), class: 'btn btn-mini' %>
  <% end %>

  <div class="js-swiper_viewer"> 
  <%= link_to "Preview", class: 'btn btn-mini' %>
  </div> 

  
  <div id='mySwipe' style='max-width:500px;margin:0 auto' class='swipe'>
    <div class='swipe-wrap'>
      <div><img src="http://31.media.tumblr.com/f1a4d8c2a6651f166779eddd29e88d14/tumblr_mr46i5LI081rwe56eo1_500.jpg"></div>
      <div><img src="http://25.media.tumblr.com/tumblr_m03646V4Ma1qcwmkyo1_500.jpg"></div>
      <div><img src="http://24.media.tumblr.com/4c9e2034c44c9805811cfab40119da5f/tumblr_mwospdyW3j1qgwe7to1_1280.jpg"></div>
    </div>
  </div>
  
  <div style='text-align:center;padding-top:20px;'>
    <button onclick='mySwipe.prev()'>prev</button> 
    <button onclick='mySwipe.next()'>next</button>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src='swipe.js'></script>
 

  

