<h1>Title: <%= @album.title %></h1>
<h2>Category: <%= @album.category  %></h2>

  <% for source in @sources %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= source.url %>
            <div class="no_hidden_result">
            <%= @url %>
            
            </div>
        </h4>
     
      </div>
    </div>
  <% end %>
  <div>
    <% if can? :edit, @album %>
      <%= link_to "Edit", edit_album_path(@album), class: 'btn' %>
    <% end %>
  </div>
  <p> </p>
  <div class="modal_viewer">
    <button type="button" data-toggle="modal" data-target="#myModal">Launch Slideshow</button>
  </div>
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
              <% @urls.each_with_index do |url,i| %>
              <div class="<%= "active" if i == 0 %> item"><%= image_tag url%>
              </div>
              <% end %> 
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div> 
  </div>
  
