<div class="span8">
  <h1>Title: <%= @album.title %>
  </h1>
  <h2>Category: <%= @album.category %>
  </h2>
</div>

<div class="span8">
  <%= render partial: 'form', locals: { source: @source} %>
</div>  
<div>
    <% if can? :edit, @album %>
      <%= link_to "Edit", edit_album_path(@album), class: 'btn btn-primary' %>
      <%= link_to "Delete ", @album, method: :delete, class: 'btn btn-primary', confirm: 'Are you sure you want to delete this slideshow' %>
    <% end %>
  </div>
  <p> </p>
  <div class="modal_viewer">
  
    <%= link_to "Launch Slideshow", class: 'btn btn-primary' %>
  </div>

  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
              <% @urls.each_with_index do |url,i| %>
              <div class="<%= "active" if i == 0 %> item"><%= image_tag url %>
              </div>
              <% end %> 
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div> 
  </div>

