.span8
  %h1
    Title: #{@album.title}
  %h2
    Category: #{@album.category}
.span8
  = render partial: 'form', locals: { source: @source}
%div
  - if can? :edit, @album
    = link_to "Edit", edit_album_path(@album), class: 'btn btn-primary'
    = link_to "Delete ", @album, method: :delete, class: 'btn btn-primary', confirm: 'Are you sure you want to delete this slideshow'
%p
.modal_viewer
  = link_to "Launch Slideshow", class: 'btn btn-primary'

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      #myCarousel.carousel.slide
        / Carousel items
        .carousel-inner
          - @urls.each_with_index do |url,i|
            %div{class: "#{"active" if i == 0} item"}= image_tag url
          %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
          %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
        / Carousel nav